body{
    font-family: 'Montserrat', sans-serif;
    background-color: #141414;
}

header{
    padding: 20px 0;
    background-color: #141414;
}

.caja{
    width: 90vw;
    position: relative;
    margin: -2.2% auto;
}

.img_header{
    width: 5em;
}

nav{
    position: absolute;
    display: inline-flex;
    top: 4.5em;
    right: 5em;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
    margin-left: 5%;
}
nav a{
    text-transform: uppercase;
    margin-left: 5%;
    color: rgb(206, 55, 168);
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover{
    color: #ffffff;
    text-decoration: underline ;
}

.banner{
    width: 100%;
}

.servicios{
    background-color: rgb(206, 55, 168);
    padding: 5%;
}

.servicios > h1{
    font-weight: bold;
    padding-bottom: 1em;
    text-align: center;
    text-decoration: underline;
}

.lista_home{
    font-size: 2em;
    font-weight: 500;
    list-style: disc inside;
}

footer{
    background-color: black;
    text-align: center;
    padding: 2em;
}

.textoFooter{
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    margin: 1em;
    text-decoration: none;
}

.icono_footer{
    size: 0.5em;
    margin-right: 1em;
}

.p_quienes_somos{
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
}

.section_video_servicios{
    background-color: rgb(206, 55, 168);
}

.video_servicios{
    width: 100%;
    height: 480px;
    margin-bottom: -1%;
}